body {
  overflow-x: hidden;
}

.card-img-top,
.cart-item-img {
  height: 10rem;
  object-fit: contain;
}

div > img {
  width: 15rem;
  object-fit: contain;
}

.item:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.clickable-header:hover {
  cursor: pointer;
}

.modal-bg {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.575);
  color: white;
}

@media screen and (min-width: 576px) and (max-width: 723px) and (orientation: landscape) {
  .view-row {
    display: block;
    width: 100%;
  }
  .item {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px){
  .product-image {
    text-align: center;
    width: 100%;
    margin-bottom: 3rem;
  }
}
