.card-img-top,
.cart-item-img {
  height: 10rem;
  object-fit: contain;
}

div > img {
  width: 15rem;
  object-fit: cover;
}

.card:hover {
  background-color: aliceblue;
}

.previous-page:hover {
  text-shadow: 1px 1px 3px rgba(10, 5, 5, 0.226);
}

@media screen and (max-width: 576px) and (orientation: portrait) {
  .wicked-sales-text {
    justify-content: center;
  }
}

@media screen and (max-width: 812px) and (orientation: landscape) {
  .header-container {
    padding: 0;
  }
  header {
    margin-right: 0;
  }
  .wicked-sales-text {
    width: 70%;
  }
  .cart-items {
    width: 30%;
  }
}

@media screen and (min-width: 576px) and (max-width: 723px) and (orientation: landscape) {
  .view-row {
    display: block;
    width: 100%;
  }
  .item {
    max-width: 100%;
  }
}
