html, body {
  max-width: 1395px;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

.card-img-top,
.cart-item-img {
  height: 10rem;
  object-fit: contain;
}

div > img {
  width: 15rem;
  object-fit: contain;
}

.item:hover {
  background-color: rgba(174, 199, 200, 0.295);
  cursor: pointer;
}

.brand-name {
  font-size: 1.7rem;
}

.typeface-1 {
  font-family: 'Josefin Sans', sans-serif;
}

.cart-text {
  font-size: 1.1rem;
}

.clickable:hover {
  cursor: pointer;
}

.modal-bg {
  height: 100vh;
  z-index: 1;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.192);
  color: white;
}

.modal-container {
  margin: auto;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.575);
}

.hero-container {
  height: 75vh;
}

.hero-image {
  height: 100%;
  width: 100%;
  color: white;
  background: url(./images/freestocks-DlZD4V2j9oM-unsplash.jpg) no-repeat center/cover;
}

.header-text-2 {
  padding-top: 9rem;
}

.header-text {
  margin-top: 9rem;
}

/* .position-helper {
  position: relative;
  width: auto;
  height: auto;
} */

.fa-leaf {
  position: absolute;
  bottom: 306px;
  right: 47%;
  width: 200px;
  height: 100px;
}

h4 {
  font-size: 3.5rem;
}


/* @media screen and (max-width: 1104px) {
    h4 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 954px) {
    h4 {
    font-size: 2.9rem;
  }
} */


.no-display {
  display: none;
}

@media screen and (max-width: 768px) {
  .hero-container {
  height: 50vh;
}

  .fa-leaf {
    display: none;
  }

  .header-col-2 {
    padding: 0 3rem;
  }

  .header-text {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem;
  }

  h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 414px) {
  .eco-shop-text {
    font-size: 1.3rem;
  }

  .cart-text {
    font-size: 1rem;
  }
}
/* iPhone 5 */

@media screen and (max-width: 320px) {
  .modal-container {
    padding: 1rem;
  }
}
