html, body {
  max-width: 1395px;
  height: 100%;
  overflow-x: hidden;
}

#root {
  height: 100%;
}

div > img {
  width: 15rem;
  object-fit: contain;
}

.item:hover {
  background-color: rgba(174, 199, 200, 0.295);
  cursor: pointer;
}

.brand-name {
  font-size: 1.7rem;
}

.typeface-1 {
  font-family: 'Josefin Sans', sans-serif;
}

.cart-text {
  font-size: 1.1rem;
}

.clickable:hover {
  cursor: pointer;
}

/* Modal */

.modal-bg {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: absolute;
  display: flex;
  background-color: rgba(255, 251, 251, 0.452);
  color: white;
}

.modal-container {
  margin: auto;
  padding: 3rem;
  background-color: rgba(0, 0, 0, 0.836);
}

/* Header */

.hero-container {
  height: 75vh;
}

.hero-image {
  height: 100%;
  width: 100%;
  color: white;
  background: url(./images/freestocks-DlZD4V2j9oM-unsplash.jpg) no-repeat center/cover;
}

.header-text {
  margin-top: 12rem;
}

.fa-leaf {
  position: absolute;
  bottom: 306px;
  right: 38%;
  width: 73%;
  height: 100px;
}

h4 {
  font-size: 3.5rem;
}

/* Cart Drawer */

.cart-summary-drawer {
  box-sizing: border-box;
  position: fixed;
  height: 100%;
  z-index: 2;
  right: 15px;
  background-color: rgb(245, 247, 248);
  transition: all 1s;
}

.cart-drawer-2 {
  height: 48px;
  padding: 1rem 0 0 0;
  position: sticky;
  top: 0;
  z-index: 3;
  background-color: #ffff;
}

.cart-drawer-3 {
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: start;
}

.cart-drawer-content {
  height: 72%;
  width: 100%;
  overflow-y: scroll;
}

.cart-summary-item {
  width: 45%;
  height: auto;
  margin: .5rem;
  padding: .3rem 0;
}
.cart-summary-item-2 {
  width: 100%;
  height: auto;
  padding: 0 .5rem 0 .5rem;
}

.cart-item-text {
  font-size: 14px;
}

.cart-edit-text {
  font-size: 12px;
}

.checkout-section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: sticky;
  bottom: 0;
  box-shadow: 0 0rem 1rem rgba(0,0,0,.175)
}

.disclaimer-text {
  font-size: 11px;
}

.cart-click-away {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(253, 253, 253, 0.473);
}

.no-display {
  transform: translate(100%);
  transition: all .5s;
}


/* Desktop Responsiveness */

@media screen and (max-width: 768px) {
  .cart-summary-drawer {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cart-summary-drawer {
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .hero-container {
    height: 50vh;
  }

  .fa-leaf {
    display: none;
  }

  .header-col-2 {
    padding: 0 3rem;
  }

  .header-text {
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 3rem;
  }

  h4 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) and (max-height: 600px) {
  .cart-drawer-content {
      height: 66%;
    }
}

/* iPhone 6,7,8 Plus*/
  @media only screen and (max-width: 414px) and (max-height: 736px) {
    .cart-drawer-content {
      height: 69%;
    }
}

/* iPhone 6,7,8 */
  @media only screen and (min-width: 375px) and (max-height: 667px) {
    .cart-drawer-content {
      height: 69%;
    }
    .eco-shop-text {
      font-size: 1.3rem;
    }

    .cart-text {
     font-size: .9rem;
    }
}

/* iPhone 5 */

@media screen and (max-width: 320px) {
  .modal-container {
    padding: 1rem;
  }

  .cart-text {
    font-size: .9rem;
  }

  .cart-drawer-2 {
    height: 9%;
  }

  .cart-drawer-content {
    height: 61%;
  }

  .eco-shop-text {
    font-size: 1.3rem;
  }

  .cart-text {
    font-size: .9rem;
  }
}

/* iPad Pro */

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .cart-drawer-3 {
    height: auto;
    margin-bottom: 1.5rem;
  }
}
